.character {
    width: 90%;
    height: 120px;
    background: #303030;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
}

.character h1 {
    margin-left: 5%;
    padding-top: 3%;
    font-size: 1.25rem;
    font-weight: 500;
}

.character ul {
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5%;
}

.character li {
    text-align: center;
    display: inline; 
    float: left;
}

.character li button {
    display: block;
}
