.title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explications {
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: start;
  justify-content: start;
  display: inline;
}

.explications h1 {
  padding-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.explications span {
  color: red;
  font-weight: 500;
}

.characters {
  width: 30%;
  height: 80vh;
  background: #202020;
  margin-top: 2.7%;
  margin-left: 2.7%;
  margin-bottom: 2.7%;
  overflow-x: hidden;
  overflow-y: auto; 
  border-radius: 20px;
  float: left;
}

.characterForm {
  width: 60%;
  height: 80vh;
  background: #202020;
  margin-top: 2.7%;
  margin-right: 2.7%;
  margin-bottom: 2.7%;
  overflow-x: hidden;
  overflow-y: auto; 
  border-radius: 20px;
  float: right;
}

.characterForm label {
  color: white;
  margin-left: 3%;
  margin-right: 2%;
  margin-top:2%;
}

.characterForm h1 {
  margin-left: 2rem;
  font-weight: bold;
}

.name {
  width: 100%;
  height: 6rem;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;
  display: flex;
}

.inputBox {
  position: relative;
  width: 20%;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 20px;
}

.inputBox label {
  position: absolute;
  left: 5px;
  transform: translateY(-60%);
  font-size: 1em;
  color: white;
  font-weight: bold;
  pointer-events: none;
  transition: .5s;
  margin-left: -2%;
  top: -5px;
}

.inputBox input {
  width: 100%;
  height: 100%;
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.abilities {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 280px);
  grid-template-rows: 110px 110px 140px;
  gap: 10px;
  grid-auto-rows: 0px;
  align-items: center;
}

.abilityMain {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ability {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ability input[type=number],
.abilityMain input[type=number] {
  color: white;
  background: transparent;
  border: solid 1px;
  border-radius: 20px;
  outline: none;
  text-align: center;
}

.ability input[type=text] {
  color: white;
  background: rgba(255, 255, 255, .05);
  border-bottom: solid 2px;
  border-radius: 0;
  outline: none;
}

.abilityMain input[type=text] {
  color: white;
  background: transparent;
  border-bottom: solid 2px;
  border-radius: 0;
  outline: none;
}

.constCat {
  grid-column: 1;
  grid-row: 1;
}

.mentCat {
  grid-column: 2;
  grid-row: 1;
}

.dextCat {
  grid-column: 1;
  grid-row: 2;
}

.survCat {
  grid-column: 2;
  grid-row: 2;
}

.spe1Cat {
  grid-column: 1;
  grid-row: 3;
}

.spe2Cat {
  grid-column: 2;
  grid-row: 3;
}
